* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html.page-fluid-vertical,
body.page-fluid-vertical,
.fluid-vertical {
    height: 100%;
    overflow: hidden;
}

.font-user-setting {
    font-family: 'Dotum', 'Arial', '', 'Arial', 'Apple SD Gothic Neo', 'Gulim';
}

.cursor-default {
    cursor: default !important;
}

.zoom-100 {
    zoom: 100% !important;
}

body {
    font-family: Arial, Helvetica, Gulim, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
}

body {
    margin: 0;
}

ul,
ol {
    /* padding-left: 20px; */
    /* margin-top: 0; */
    /* margin-bottom: 0; */
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 8.5px;
}

a,
button,
li,
li:before {
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}



/* a,
li,
li:before {
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
} */






input {
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 0;
    margin-left: -1px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: normal;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.btn {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    word-wrap: normal;
    padding: 5px 6px 2px;
    font-size: 12px;
    line-height: 1.42857143;
    user-select: none;
    min-width: 50px;
    color: #fff;
    text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    transition: all .1s ease;
    box-shadow: inset 0 0 0 rgb(255 255 255 / 0%);
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

.btn .caret {
    margin-left: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.quick-menu>.qm-btn-customer-center .customer-menu>ul {
    white-space: normal;
    list-style: none;
    padding-left: 0;
    display: table;
    width: 100%;
}

.quick-menu>.qm-btn-customer-center .customer-menu {
    width: 320px;
    padding: 10px;
    margin-top: 6px;
}

div.customer-menu {
    min-width: 0;
    padding: 0;
}

.customer-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 140px;
    padding: 5px 0;
    margin: -2px 0 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.flipswitch-switch {
    display: block;
    width: 20px;
    margin: -2px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #999;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    transition: all .2s ease-in 0s;
}

.flipswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin .2s ease-in 0s;
    -webkit-transition: margin .2s ease-in 0s;
    -o-transition: margin .2s ease-in 0s;
    transition: margin .2s ease-in 0s;
}

.flipswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #0072c6;
    color: #fff;
}

.flipswitch-inner:before,
.flipswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
}

.flipswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #ddd;
    color: #999;
    text-align: right;
}

.flipswitch-inner:before,
.flipswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
}

/* wrapper-frame-bodys */
.navigation-type1.using-bookmark>.wrapper-frame-body {
    top: 123px;
}

.navigation-type1 .wrapper-frame-body {
    top: 97px;
    left: 220px;
    transition: all ease .2s;
}

.wrapper-frame-body,
.wrapper-frame-body .frame-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* 메뉴 접기 기능 구현시 주석 취소 */
/* .navigation-type1.welcome .wrapper-frame-body {
    left: 0;
} */


.header.header-fixed {
    position: absolute;
    top: 0px;
}

.header.header-fixed {
    width: 100%;
}

.header {
    position: relative;
    z-index: 4;
    width: inherit;
    outline: none;
}

.header:before,
.header:after {
    clear: both;
}

.header:before,
.header:after {
    content: " ";
    display: table;
}

.wrapper-title {
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-left: none;
}
.wrapper-title:before,
.wrapper-title:after {
    clear: both;
}
.wrapper-title:before,
.wrapper-title:after {
    content: " ";
    display: table;
}
.header .wrapper-toolbar,
.wrapper-title .wrapper-toolbar {
    margin: 4px;
    line-height: 1.42857143;
}

.wrapper-toolbar {
    margin: 4px 0;
    line-height: 1.7;
    position: relative;
}
.wrapper-toolbar:before,
.wrapper-toolbar:after,
.wrapper-sub-title:before,
.wrapper-sub-title:after {
    content: " ";
    display: table;
    clear: both;
}
.wrapper-toolbar.display-flex,
.wrapper-toolbar .pull-left,
.wrapper-toolbar .pull-right {
    display: flex;
    flex-wrap: wrap;
}
.wrapper-header-search {
    display: none;
    z-index: 900;
    padding: 5px 0 0;
    border: 1px solid #d4d4d4;
    border-left: none;
    background-color: #fff;
    position: relative;
    top: -1px;
}

.page {
    width: 100%;
    overflow: hidden;
    outline: none;
}

.pull-left {
    float: left !important;
}

.wrapper-title .user-help-mark {
    position: absolute;
    left: 27px;
    top: -5px;
    bottom: -4px;
    border-right: 1px solid #d4d4d4;
    padding: 7px 7px 7px 8px;
    color: #005b9e;
    z-index: 1;
}

span.user-help-mark {
    cursor: pointer;
    color: #aaa;
    padding-right: 5px;
    font-size: 133.3333%;
    position: relative;
    line-height: 1;
}

.wrapper-title .user-help-mark:before {
    content: "\f29c";
}

span.user-help-mark:before {
    font-family: font-icon;
    content: "\f059";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #005b9e;
    text-decoration: none;
    background-color: transparent;
}

.wrapper-title .user-help-mark+.page-name {
    padding-left: 68px;
}
.page-name {
    /* padding-left: 100px; */
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 2px 0 0 35px;
    position: relative;
}


.pull-right {
    float: right !important;
}



.control-set {
    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}
/* .control-set .control>.form-control:hover, .control-set .control>.btn:hover, .control-set .control>.btn-selectbox:hover, .control-set .control>.form-control:focus, .control-set .control>.btn:focus, .control-set .control>.btn-selectbox:focus {
    z-index: 3;
} */

.control-set .control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}

.btn-title-search, .btn-title-option, .btn-title-manual, .wrapper-title .wrapper-toolbar .btn.btn-sm {
    padding-top: 2px;
    padding-bottom: 1px;
    line-height: 1.3;
}

.control-set .control .btn {
    max-width: none;
    align-self: stretch;
}
.pull-right .control-set .control>* {
    margin-right: 0;
    margin-left: -1px;
}
.control-set .control>* {
    margin-right: -1px;
    z-index: 1;
}
.control-set>.control>.label, .control-set>.control>span:not(.form-radio):not(.form-checkbox):not(.control-inline) {
    margin: 5px;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 2px 4px 0;
    font-size: 100%;
    line-height: 1.3;
}
.btn-default, .btn-default.disabled, .btn-default[disabled], .btn-default.disabled:hover, .btn-default[disabled]:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, .btn-default.disabled.active, .btn-default[disabled].active {
    background-color: #f5f5f5;
    border-color: #d4d4d4;
    color: #333;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}

.control-set+.control-set {
    margin-left: 5px;
}

.wrapper-title-simple-search {
    width: 180px;
}

.control-set .control>span.flexible, .control-set .control>a.flexible, .control-set .control>button.flexible, .control-set .control>div.flexible, .control-set .control>input.flexible, .control-set .control.flexible {
    -ms-flex: 1 !important;
    flex: 1 !important;
}

.control-set .control>.form-control:hover, .control-set .control>.btn:hover, .control-set .control>.btn-selectbox:hover, .control-set .control>.form-control:focus, .control-set .control>.btn:focus, .control-set .control>.btn-selectbox:focus {
    z-index: 3;
}

.form-control:hover:not([disabled]):not([readonly]) {
    border-color: rgba(74,154,217,.5);
}

.text-right {
    text-align: right !important;
}

.control-set .control>.form-control, .control-set .control>.tags-input, .control-set .control>.well, .control-set .control>.wrapper-attach-file {
    -ms-flex: 1;
    flex: 1;
}

.wrapper-attach-file {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 140px;
    overflow-y: auto;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}

.wrapper-attach-file li {
    margin: 4px 0;
    line-height: 1.7;
}

.wrapper-attach-file li:before, .article-attached-file li:before, .dropdown-menu-icon-list>li.attached-file>a:before {
    content: "";
}
.wrapper-attach-file li:before, .article-attached-file li:before {
    font-family: font-icon;
    font-size: 100%;
    margin-right: 5px;
    color: #666;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper-attach-file .file-status {
    margin-left: 5px;
    cursor: pointer;
}

.wrapper-attach-file .file-status:before {
    content: "\f00d";
    color: #d23737;
    font-family: font-icon;
    display: inline-block;
}

li > .title {
    width: 154px;
}
/* li>.title {
    width: 120px;
} */

li>.title {
    color: #777;
}
li>.title, li>.form {
    padding: 3px;
}

li>.form {
    -ms-flex: 1;
    flex: 1;
    position: relative;
    min-width: 130px;
}

.control-set .control .btn.btn-vertical-top {
    align-self: flex-start;
}

.form-control.title-simple-search {
    height: 21px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn.btn-code-search, .btn.btn-fn, .btn.btn-ellipsis, .btn.btn-remove, .btn-send-notice, .btn-reload, .btn-asc, .btn-desc, .btn-add-sum, .btn-unadd-sum, .btn-setup, .btn-clip, .btn-enter, .btn-hamburger, .btn-plus, .btn-minus, .btn-zoom-in, .btn-zoom-out, .btn-apply, .btn-cancle, .btn-state-change, .btn-arrow-left, .btn-arrow-right, .btn-check, .btn-flag {
    min-width: 0;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #000;
    background-color: #f1f1f1;
    border-color: #bbb;
}

.btn:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.2), inset 0 0 0 1px rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.1);
}

.btn-code-search, .btn-ellipsis, .btn-remove {
    color: #aaa;
}

.btn-sm, .btn-group-sm>.btn {
    padding: 2px 4px 0;
    font-size: 100%;
    line-height: 1.3;
}

.btn-primary, .btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled:hover, .btn-primary[disabled]:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, .btn-primary.disabled.active, .btn-primary[disabled].active {
    background-color: #005b9e;
    border-color: #004c85;
}


/* table */
.page .contents.contents-fixed {
    position: absolute;
    left: 0;
    right: 0;
    top: 31px;
    bottom: 0;
    margin-top: 0 !important;
}

.page .contents {
    padding: 5px;
    margin: 0;
    margin-top: 31px;
    overflow: auto;
    position: static;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    outline: none;
    word-wrap: break-word;
}

.table-bordered {
    border-style: solid;
}
.table {
    table-layout: fixed;
    width: 100%;
    margin-left: 12px;
    margin-bottom: 5px;
    border-color: #d4d4d4;
    border-width: 1px;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top-color: #9bb0be;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border-style: solid;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
    border-bottom-style: solid;
    background-color: #f7f7f7;
    text-align: center;
    color: #606060;
    padding-top: 6px;
    font-weight: normal;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 3px;
    line-height: 1.42857143;
    word-wrap: break-word;
    vertical-align: middle;
    border-color: #d4d4d4;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

th {
    text-align: left;
}
td, th {
    padding: 0;
}

[class*="table-list"] .form-checkbox-numbered, [class*="table-list"] .form-checkbox-numbered>.checkbox-numbered {
    display: block;
}
.form-checkbox-numbered {
    display: inline-block;
    position: relative;
}

.form-checkbox-numbered>input[type="checkbox"], .form-checkbox-numbered>input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    left: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.form-checkbox-numbered .checkbox-numbered {
    display: inline-block;
    padding: 0 2px;
    margin: 0 -1px;
    border: 1px solid #ccc;
    transition: all ease .2s;
    min-height: 16px;
    min-width: 16px;
    font-size: 91.6666%;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: #aaa;
    letter-spacing: -1px;
    vertical-align: middle;
    cursor: pointer;
}

.font-dotum {
    font-family: 'Dotum','돋움','Arial','Apple SD Gothic Neo','Gulim';
}
.font-12px {
    font-size: 12px !important;
}
.font-9px {
    font-size: 9px !important;
}
.valign-middle {
    vertical-align: middle !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}

.thumbnail:hover, .thumbnail:focus, .thumbnail.active {
    border-color: #005b9e;
}
a:hover, a:focus {
    color: #002f52;
    text-decoration: underline;
}
a:hover {
    outline: 0;
}
.thumbnail {
    display: block;
    padding: 2px;
    margin-bottom: 0;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    min-width: 1px;
}
.thumbnail>img, .thumbnail a>img {
    margin-left: auto;
    margin-right: auto;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

.page-footer.footer-fixed {
    position: absolute;
    bottom: 0;
    z-index: 3;
}
.page-footer {
    border-top: 1px solid #d4d4d4;
    background-color: #fff;
    position: relative;
    z-index: 3;
    width: 100%;
    outline: none;
}
.footer-btn {
    border-top: 1px solid #d4d4d4;
    background-color: #fff;
    position: relative;
    z-index: 3;
    width: 100%;
    outline: none;
    margin-left: 7px;
}

.wrapper-toolbar.toolbar-collapse {
    margin-bottom: 0;
}

.footer-btn>.wrapper-toolbar {
    padding: 5px;
    margin: 0;
    line-height: 1.42857143;
}

.wrapper-toolbar.toolbar-collapse .pull-left {
    padding-right: 28px;
}

/* .wrapper-toolbar.toolbar-collapse .pull-left .btn {
    margin-bottom: 4px;
} */

.btn.btn-arrow {
    min-width: 0;
    padding-left: 4px;
    padding-right: 4px;
}

.btn.btn-arrow:empty:after {
    margin-left: 0;
}

.btn.btn-arrow.btn-arrow-up:after {
    border-top-style: none;
    border-bottom: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.btn.btn-arrow:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-left: 10px;
    margin-top: -3px;
}

.btn.btn-width-auto, [class*="input-group"] .btn, .ui-dialog-titlebar .btn, .wrapper-pagination>.btn, .messenger-chat-footer .btn.send-file, .header-search-btn-group .btn-header-search-btn-more {
    min-width: 0 !important;
    max-width: none;
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}



.btn-code-search:before, .btn-ellipsis:before, .btn-remove:before, .btn-send-notice:before, .btn-reload:before, .btn-asc:before, .btn-desc:before, .btn-add-sum:before, .btn-unadd-sum:before, .btn-setup:before, .btn-bar-chart:before, .btn-bar-row-chart:before, .btn-pie-chart:before, .btn-area-chart:before, .btn-line-chart:before, .btn-clip:before, .btn-enter:before, .btn-hamburger:before, .btn-plus:before, .btn-zoom-in:before, .btn-zoom-out:before, .btn-apply:before, .btn-cancle:before, .btn-state-change:before, .btn-arrow-left:before, .btn-arrow-right:before, .btn-check:before, .btn-flag:before {
    content: "";
    display: inline-block;
    font-family: font-icon;
    font-size: 100%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn-code-search:before {
    content: "";
}

.btn-fn:before, .btn-code-search:before {
    line-height: 1;
}

.tags-input {
    background-color: #fff;
    border: 1px solid #d4d4d4;
    padding: 1px 2px;
    color: #555;
    max-width: 100%;
    min-width: 100px;
    vertical-align: middle;
    line-height: 1.5;
}

.tags-input>.input-height-fixed {
    height: 22px;
    overflow: hidden;
    padding: 0;
}

.tags-input-typeahead {
    display: inline-block;
    position: relative;
}

.control-set>.control .form-control-code {
    flex: .7;
}
.tags-input-typeahead>input.form-control {
    width: 100px;
    border-color: transparent;
    box-shadow: none;
    height: 22px;
    display: inline;
    vertical-align: middle;
}
/* 모바일 화면에 대한 스타일 */
@media only screen and (max-width: 767px) {
    body {

    }
    h1 {

    }
    p {

    }
}

/* 태블릿 화면에 대한 스타일 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {

    }
    h1 {

    }
    p {

    }
}

/* 데스크탑 화면에 대한 스타일 */
@media only screen and (min-width: 1024px) {
    body {

    }
    h1 {

    }
    p {
        
    }
}

/* .wrapper-toolbar:not(.whole-row) .control-set:not(.control-table) .control, .wrapper-toolbar:not(.whole-row) .form-control, .wrapper-toolbar:not(.whole-row) .btn.btn-selectbox, .flex-none, .textbox-inline, .dropdown-menu-form .control, .dropdown-menu-text .control {
    -ms-flex: none !important;
    flex: none !important;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
} */
/* .wrapper-toolbar.toolbar-collapse .pull-left .btn {
    margin-bottom: 4px;
} */

.control-set .control+.control {
    margin-left: 5px;
}

a:hover, a:focus {
    color: #002f52;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

input[type="file"] {
    display: block;
}


.pagination {
    display: inline-block;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    list-style: none;
}
.pagination>li {
    float: left;
    vertical-align: middle;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #005b9e;
    font-weight: bold;
    cursor: default;
    border-bottom-color: #005b9e;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    padding: 1px 5px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #666;
    background-color: transparent;
    margin-left: -1px;
    border-bottom: 2px solid transparent;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    border-bottom-color: #e6e6e6;
}
.pagination .disabled {
    font-family: "font-icon";
    color: #aaa;
    height: 20px;
    font-size: 105%;
}